// --------------------- Global Styles -------------------

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Box Sizing border-box all
html {
    @include box-sizing(border-box);
}

*, *:before, *:after {
    @include box-sizing(border-box);
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
    font-family: $primary-typeface;
    font-size: 1.6em;
    color: $blue;
    margin: 0;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1020px;
}

h1 {
    display: inline-block;
    @include secondary-text(1.9em, $blue);
    border-bottom: 3px solid $blue;
    margin-bottom: 30px;
}

input, textarea {
    @include primary-input();
}

input {
    height: 39px;
}

textarea {
    height: 76px;
}