// ----- Header -----
header {
  padding: 0;
  position: relative;
  background-color: $blue;
  
  nav {
    display: none;
    padding: 35px 15px 0 15px;
    height: 240px;
    background-color: $darkblue;
    ul {
      margin-bottom: 0;
      padding: 0 0 0 0;
      li {
        width: 100%;
        height: 45px;
        text-align: center;
        a {
          display: block;
          padding: 6px 10px 6px 10px;
          @include secondary-text(1.4em, $white);
          transition: all 100ms ease-in;
          &:hover {
            color: $bluegreen;
            text-decoration: none;
            background-color: $blue;
          }
          &:active {
            background-color: darken($blue, 12%);
            color: $bluegreen;
            text-decoration: none;
            border-bottom: 3px solid $bluegreen;
          }
          .active {
            
          }
        }
      }
    }
  }
  .menu-button {
    padding-left: 15px;
    button {
      @include header-button($blue, $white);
    }
  }
  .logout {
    text-align: right;
    padding: 45px 25px 0 0;
    a {
      margin-left: 30px;
      @include primary-text(1em, 300, normal, $white);
      // text-decoration: underline;
      .glyphicon {
        margin: 2px 5px 0 0;
        font-size: 0.8em;
      }
      &:hover {
        color: $bluegreen;
      }
    } 
  }
}

@media only screen and (min-width: $screen-xs-min) {
  header {
    .menu-button {
      button {
        font-size: 1.2em;
      }
    }
    .settings, .logout {
      padding-top: 45px;
      a {
        font-size: 1.2em;
      } 
    }
  }
}

@media only screen and (min-width: $screen-sm-min) {
  header {
    nav {
      display: inline-block;
      height: 113px;
      padding: 0;
      background-color: $blue;
      ul {
        padding: 0 0 0 15px;
        li {
          display: inline-block;
          width: 108px;
          height: 110px;
          a {
            padding: 46px 10px 36px 10px;
            &:hover {
              background-color: $darkblue;
              border-bottom: 3px solid $bluegreen;
            } 
          }
          .active {
            border-bottom: 3px solid $white;
          }
        }
      }
    }
  }
}