
@import "variables_mixins";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

// ------------------- full width bg's ---------------------

header {
    @include full-width();
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

.filter-bg {
    @include full-width();
    background-color: $primary-bg-color;
    padding: 0 15px 0 15px;
}

footer {
    @include full-width();
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

// ------------------------ Header --------------------------
header {
    nav {
        padding: 37px 0 36px 0;
        height: 100px;
        a {
            margin-right: 19px;
            height: 100px;
            @include secondary-text(1.2em, $header-footer-text-color);
            &:hover {
                padding-bottom: 35px;
                color: $link-hover-color;
                text-decoration: none;
                border-bottom: 3px solid $link-hover-color;
            }
        }
    }
    .user {
        padding: 39px 0 37px 0;
        height: 100px;
        text-align: right;
        @include primary-text(1em, 300, normal, $header-footer-text-color);
    }
    .logout {
        padding-top: 30px;
        height: 100px;
        padding-bottom: 30px;
        button {
            @include primary-text(1em, 300, normal, $header-footer-text-color);
            @include primary-button($logout-delete-button-color, $primary-button-text-color, 0px, 0px);
        }
    }
}

// ------------------------ Filter --------------------------
.filter-course {
    height: 172px;
    h4 {
        padding: 25px 0 25px 0;
        width: 100%;
        text-align: center;
        @include primary-text(1.2em, 300, normal, $secondary-text-color);
    }
    button {
        @include primary-button($primary-button-color, $primary-button-text-color, 0px, 0px);
        font-weight: 300;
        font-size: 1.1em;
    }
}

// ------------------- footer -------------------------

footer {
    padding: 35px 0 28px 0;
    @include primary-text(1em, 300, normal, $header-footer-text-color);
}