$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@font-face {
  font-family: "Open Sans";
  src: url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400");
}

@font-face {
  font-family: "Fjalla One";
  src: url("http://fonts.googleapis.com/css?family=Fjalla+One");
}

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_normalize.scss";
// endbower

// simple list reset
ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    // vertical-align: baseline;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ----------------------- Box Sizing border-box all -------------------
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

// ------------------------ Variables ----------------------

// ------- bg colors ---------

$primary-bg-color: #FFFFFF;
$section-bg-color: #F0F7F6;
$header-footer-bg-color: #4C5763;

$input-box-color: #C4F478;

// ------ button ---------

$primary-button-color: #4C5763;
$input-button-color: #A6E52C;
$logout-delete-button-color: #F4606B;

$primary-button-text-color: #FFFFFF;

@mixin primary-button($bg-color, $color, $padding-t, $padding-b) {
    padding: $padding-t 0 $padding-b 0;
    height: 36px;
    width: 100%;
    background-color: $bg-color;
    color: $color;
    text-align: center;
    border: 1px solid darken($bg-color, 5%);
    border-radius: 4px;
    box-shadow: 0px 3px darken($bg-color, 20%);
    outline: none;
    transition: all 0.2s ease;
    &:hover {
        background-color: lighten($bg-color, 5%);
        border: 1px solid darken($bg-color, 7%);
        box-shadow: 0px 3px darken($bg-color, 22%);
        transition: all 0.2s ease;
    }
    &:active {
        margin-top: 3px;
        box-shadow: none;
        transition: all 0.2s ease;
    }
}

// ------- type ----------

$primary-typeface: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-typeface: "Fjalla One", Arial, sans-serif;

$primary-text-color: #4C5763;
$secondary-text-color: #E65C61;
$header-footer-text-color: #FFFFFF;

$link-hover-color: #C4F478;

@mixin primary-text($size, $weight, $style, $color) {
    font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    font-family: $secondary-typeface;
    font-size: $size;
    letter-spacing: 0.03em;
    color: $color;
}

// ------------------- full width bg ---------------------

.full-width {
    width: 100%;
}

header {
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

.filter-bg {
    background-color: $primary-bg-color;
    padding: 0 15px 0 15px;
}

.goals-bg {
    background-color: $section-bg-color;
    padding: 0 15px 0 15px;
}

.resources-bg {
    background-color: $primary-bg-color;
    padding: 0 15px 0 15px;

    .section-head {
        textarea {
            margin-top: 15px;
        }

        .input-box {
            height: 160px;
        }

        .button-box {
            padding: 106px 15px 15px 15px;
            height: 160px;
        }
    }
}

.assignments-bg {
    background-color: $section-bg-color;
    padding: 0 15px 0 15px;

    .section-head {

        .input-box {
            height: 107px;
        }

        .button-box {
            padding: 53px 15px 15px 15px;
            height: 107px;
        }
    }
}

footer {
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

// --------------------- Global Styles -------------------

body {
    font-family: $primary-typeface;
    font-size: 1.6em;
    color: $primary-text-color;
    margin: 0;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1020px;
}

h1 {
    display: inline-block;
    @include secondary-text(1.9em, $secondary-text-color);
    border-bottom: 3px solid $secondary-text-color;
    margin-bottom: 30px;
}

h4 {
    @include primary-text(1.2em, 300, normal, $secondary-text-color);
}

ul {
    padding: none;
    list-style: none;
}

select {

}

// ------------------------ Header --------------------------
header {
    height: 100px;

    .logo {

    }
    
    nav {
        padding: 37px 0 36px 0;
        
        a {
            margin-right: 19px;
            height: 100px;
            @include secondary-text(1.2em, $header-footer-text-color);

            &:hover {
                padding-bottom: 35px;
                color: $link-hover-color;
                text-decoration: none;
                border-bottom: 3px solid $link-hover-color;
            }
        }
    }

    .user {
        padding: 39px 0 37px 0;
        text-align: right;
        @include primary-text(1em, 300, normal, $header-footer-text-color);
    }

    .logout {
        padding-top: 30px;
        padding-bottom: 30px;

        button {
            @include primary-text(1em, 300, normal, $header-footer-text-color);
            @include primary-button($logout-delete-button-color, $primary-button-text-color, 0px, 0px);
        }
    }
}

// ------------------------ Filter --------------------------
.filter-course {
    height: 172px;

    h4 {
        text-align: center;
        padding: 25px 0 25px 0;
    }

    select {
        @include primary-button($primary-button-color, $primary-button-text-color, 0px, 0px);
    }
}



// ---------------------- input ---------------- 

.section-head {
    padding: 30px 0 5px 0;

    .section-title {
        padding-bottom: 20px;
    }

    .input-box {
        padding: 16px 0 0 15px;
        height: 70px;
        background-color: $input-box-color;
        border: 1px solid darken(#C4F478, 7%);
        border-width: 1px 0 1px 1px;
        border-radius: 4px 0 0 4px;
        box-shadow: 0px 3px darken(#C4F478, 23%);

        input, textarea {
            padding: 10px;
        }

        input {
            height: 38px;
            width: 100%;
            border: 1px solid darken(#C4F478, 7%);
            border-radius: 4px;
            box-shadow: 0px -2px darken(#C4F478, 23%);
            outline: none;
        }

        textarea {
            height: 76px;
            width: 100%;
            border: 1px solid darken(#C4F478, 7%);
            border-radius: 4px;
            box-shadow: 0px -2px darken(#C4F478, 23%);
            outline: none;
        }
    }

    .button-box {
        padding: 15px;
        height: 70px;
        background-color: $input-box-color;
        border: 1px solid darken(#C4F478, 7%);
        border-width: 1px 1px 1px 0;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 3px darken(#C4F478, 23%);

        button {
            @include primary-button($input-button-color, $primary-button-text-color, 0px, 0px);
        }
    }
} 

// ------------- list section -------------

.list-container {

    li {
        padding: 20px 0 20px 0;
        border-bottom: 1px solid $primary-text-color;

        .item-container {
            padding: 8px 15px 0 15px;
            @include primary-text(1em, 300, normal, $primary-text-color);

            a {
                @include primary-text(1em, 400, italic, $primary-text-color);
            }
        }

        .date-container {
            padding: 8px 15px 0 15px;
            @include primary-text(.8em, 300, italic, $primary-text-color);
        }

        .edit-button-container {

            button {
                @include primary-button($primary-button-color, $primary-button-text-color, 0px, 0px);
            }
        }

        .delete-button-container {

            button {
                @include primary-button($logout-delete-button-color, $primary-button-text-color, 0px, 0px);
            }
        }
    }
}

.see-all {
    padding: 28px 0 28px 0;
    width: 100%;

    a {
        @include primary-text(1em, 400, italic, $primary-text-color);
    }
    
}   

// ------------------- footer -------------------------

footer {
    padding: 35px 0 28px 0;
    @include primary-text(1em, 300, normal, $header-footer-text-color);
}












/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {

// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {

// }
