
// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/_normalize.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// ------------------------ Variables and Mixins ----------------------

// ------- bg color variables ---------

$primary-bg-color: #FFFFFF;
$section-bg-color: #F0F7F6;
$header-footer-bg-color: #4C5763;

$input-box-color: #C4F478;

// ----------- Type ----------------

// $icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@font-face {
    font-family: "Glyphicons Halflings";
    src: url("../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/glyphicons-halflings-regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,300,600,400");
}

@font-face {
  font-family: "Fjalla One";
  src: url("http://fonts.googleapis.com/css?family=Fjalla+One");
}

$primary-typeface: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$secondary-typeface: "Fjalla One", Arial, sans-serif;

$primary-text-color: #4C5763;
$secondary-text-color: #E65C61;
$header-footer-text-color: #FFFFFF;

$link-hover-color: #C4F478;

// type mixins
@mixin primary-text($size, $weight, $style, $color) {
    font-family: $primary-typeface;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
}

@mixin secondary-text($size, $color) {
    font-family: $secondary-typeface;
    font-size: $size;
    letter-spacing: 0.03em;
    color: $color;
}

// ------ Buttons ------------------
// button variables

$primary-button-color: #4C5763;
$input-button-color: #A6E52C;
$logout-delete-button-color: #F4606B;

$primary-button-text-color: #FFFFFF;

// button Mixin
@mixin primary-button($bg-color, $color, $padding-t, $padding-b) {
    padding: $padding-t 0 $padding-b 0;
    height: 40px;
    width: 100%;
    background-color: $bg-color;
    color: $color;
    text-align: center;
    border: 1px solid darken($bg-color, 5%);
    border-bottom: 3px solid darken($bg-color, 10%);
    border-radius: 4px;
    outline: none;
    @include transition(all 80ms ease-in);
    &:hover {
        background-color: lighten($bg-color, 5%);
        border-color: darken($bg-color, 10%);
        border-bottom-color: darken($bg-color, 15%);
    }
    &:active {
        margin-top: 2px;
        border-width: 1px;
        height: 38px;
    }
}

// --------------- Input Field ------------------------------
// input field variables
$input-box-color: #C4F478;

// input mixin
@mixin primary-input() {
    padding: 10px;
    width: 100%;
    font-weight: 300;
    @include placeholder(lighten($primary-text-color, 18%));
    color: $primary-text-color;
    border: 1px solid darken($input-box-color, 7%);
    border-radius: 4px;
    @include box-shadow( 0px -2px darken($input-box-color, 17%));
    outline: none;
    &:hover {
        border: 1px solid darken($input-box-color, 20%);
        @include box-shadow( 0px -2px darken($input-box-color, 25%));
        @include placeholder(darken($primary-text-color, 5%));
    }
}

// --------------------- Global Styles -------------------

// Box Sizing border-box all
html {
    @include box-sizing(border-box);
}

*, *:before, *:after {
    @include box-sizing(border-box);
}

// simple list reset
ol, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    vertical-align: baseline;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

body {
    font-family: $primary-typeface;
    font-size: 1.6em;
    color: $primary-text-color;
    margin: 0;
}

.container-fluid {
    margin: 0 auto;
    max-width: 1020px;
}

h1 {
    display: inline-block;
    @include secondary-text(1.9em, $secondary-text-color);
    border-bottom: 3px solid $secondary-text-color;
    margin-bottom: 30px;
}

input, textarea {
    @include primary-input();
}

input {
    height: 39px;
}

textarea {
    height: 76px;
}

// ------------------- full width bg's ---------------------

.full-width {
    width: 100%;
}

header {
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

.filter-bg {
    background-color: $primary-bg-color;
    padding: 0 15px 0 15px;
}

.goals-bg {
    background-color: $section-bg-color;
    padding: 0 15px 0 15px;
}

.resources-bg {
    background-color: $primary-bg-color;
    padding: 0 15px 0 15px;
    .section-head {
        textarea {
            margin-top: 15px;
        }
        .input-box {
            height: 160px;
        }
        .button-box {
            padding: 106px 15px 15px 15px;
            height: 160px;
        }
    }
}

.assignments-bg {
    background-color: $section-bg-color;
    padding: 0 15px 0 15px;
    .section-head {
        .input-box {
            height: 107px;
        }
        .button-box {
            padding: 53px 15px 15px 15px;
            height: 107px;
        }
    }
}

footer {
    background-color: $header-footer-bg-color;
    padding: 0 15px 0 15px;
}

// ------------------------ Header --------------------------
header {
    nav {
        padding: 37px 0 36px 0;
        height: 100px;
        a {
            margin-right: 19px;
            height: 100px;
            @include secondary-text(1.2em, $header-footer-text-color);
            &:hover {
                padding-bottom: 35px;
                color: $link-hover-color;
                text-decoration: none;
                border-bottom: 3px solid $link-hover-color;
            }
        }
    }
    .user {
        padding: 39px 0 37px 0;
        height: 100px;
        text-align: right;
        @include primary-text(1em, 300, normal, $header-footer-text-color);
    }
    .logout {
        padding-top: 30px;
        height: 100px;
        padding-bottom: 30px;
        button {
            @include primary-text(1em, 300, normal, $header-footer-text-color);
            @include primary-button($logout-delete-button-color, $primary-button-text-color, 0px, 0px);
        }
    }
}

// ------------------------ Filter --------------------------
.filter-course {
    height: 172px;
    h4 {
        padding: 25px 0 25px 0;
        width: 100%;
        text-align: center;
        @include primary-text(1.2em, 300, normal, $secondary-text-color);
    }
    button {
        @include primary-button($primary-button-color, $primary-button-text-color, 0px, 0px);
        font-weight: 300;
        font-size: 1.1em;
    }
}

// ---------------------- input ---------------- 

.section-head {
    padding: 30px 0 5px 0;
    .section-title {
        padding-bottom: 20px;
    }
    .input-box {
        padding: 16px 0 0 15px;
        height: 70px;
        background-color: $input-box-color;
        border: 1px solid darken(#C4F478, 7%);
        border-width: 1px 0 1px 1px;
        border-radius: 4px 0 0 4px;
        box-shadow: 0px 3px darken(#C4F478, 17%);
    }
    .button-box {
        padding: 15px;
        height: 70px;
        background-color: $input-box-color;
        border: 1px solid darken(#C4F478, 7%);
        border-width: 1px 1px 1px 0;
        border-radius: 0 4px 4px 0;
        box-shadow: 0px 3px darken(#C4F478, 17%);
        button {
            @include primary-button($input-button-color, $primary-button-text-color, 0px, 0px);

            span {
                // font-family: "Glyphicons Halflings";
                font-size: 1em;
            }
        }
    }
} 

// ------------- list section -------------

.list-container {
    ol {
        list-style-position: inside;
        list-style-type: decimal;
        .item-container {
            padding: 20px 0 20px 0;
            border-bottom: 1px solid $primary-text-color;
            li {
                padding: 8px 15px 0 15px;
                @include primary-text(1em, 300, normal, $primary-text-color);
                a {
                    @include primary-text(1em, 400, italic, $primary-text-color);
                }
            }
            .date-container {
                padding: 8px 15px 0 15px;
                @include primary-text(.8em, 300, italic, $primary-text-color);
            }
            .edit-button-container {
                button {
                    @include primary-button($primary-button-color, $primary-button-text-color, 0px, 0px);
                    span {
                        // font-family: "Glyphicons Halflings";
                        padding-top: 2px;
                        font-size: 1.2em;
                    }
                }
            }
            .delete-button-container {
                button {
                    @include primary-button($logout-delete-button-color, $primary-button-text-color, 0px, 0px);
                    span {
                        // font-family: "Glyphicons Halflings";
                        padding-top: 2px;
                        font-size: 1.1em;
                    }
                }
            }
        }
    }    
}

.see-all {
    padding: 28px 0 28px 0;
    width: 100%;
    a {
        @include primary-text(1em, 400, italic, $primary-text-color);
    }
}   

// ------------------- footer -------------------------

footer {
    padding: 35px 0 28px 0;
    @include primary-text(1em, 300, normal, $header-footer-text-color);
}


/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) {

// }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) {

// }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) {

// }
